<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Glucose Level </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label>Enter Value</ion-label>
      <ion-input style="font-size: 40px;" [(ngModel)]="enter_value" (ionChange)="enterChange()"></ion-input>
    </ion-item>

    <ion-radio-group value="strawberries" slot="start" [(ngModel)]="select_value" (ionChange)="selectChange()">
      <ion-item>
        <ion-radio value="1" justify="start" labelPlacement="end">Fasting</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="2" justify="start" labelPlacement="end">After Eating</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="3" justify="start" labelPlacement="end">2-3 Hours After Eating</ion-radio>
      </ion-item>
    </ion-radio-group>
    <p>mg/D</p>
    <ion-range class="ion-padding"
      aria-label="Custom range"
      [min]="0"
      [max]="250"
      [step]="10"
      value={{enter_value}}
      [pin]="true"
      [ticks]="true"
      [snaps]="true"
    ></ion-range>
    <ion-chip color="primary">{{pre_post ? pre_post : "Undefined"}}</ion-chip><br/>
    <ion-button style="width: 150px;" (click)="add()">OK</ion-button>
  </div>
</ion-content>
<ion-footer style="display: flex;justify-content: center;">
  <ion-button routerLink="/history">History Page</ion-button>
</ion-footer>
